<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<html>

<head>

</head>
<body>
<div style="text-align: center;">
    <h1> <big> 湖北大学17级软工2班第一组</big></h1>
    <p><big>项目名称：    教辅系统</big></p>
    <p> 马菊    201722111920282</p>
    <p> 柯创伟  201722111920093</p>
    <p> 李晨思  201722111920023</p>
    <p> 谭于映  201722111920229</p>
    <p>李烨    201722111920253</p>
    <p>黄衎    2015221119200093</p>
    <p>项目github链接： <a href="" onclick="togit()">https://github.com/ruofan-code/HelpTeach.git</a> </p>
</div>
</body>
<script>
    function togit() {
        window.open('https://github.com/ruofan-code/HelpTeach.git')
    }
</script>

</html>